/* =================
Add more styles here!
================= */

body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

h2, button{
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

button {
  width: 80px;
  height: 20px;
  text-align: center;
  font-size: 12px;
}

p1 {
  font-size: 16px;
}

p2 {
  color: 	#A0A0A0
}

p {
  font-size: 14px;
}

.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}
